body {
    font-size: 14px;
    font-family: 'Space Grotesk', sans-serif;
    background-color: black;
    overflow: hidden;
    
  }
  
  .panelContent .logoImg{
    width: 60%; 
    left: 20%;
    bottom:10%;
    position: absolute;
  }
  
  .sidepanel  {
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    height: 100%;
  }
  
  .sidepanel a,p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 133%;
    color: #000000;
    display:block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 15px;
    border: 1px;
    top:0;
    left:0;
    position:absolute;
    height: 100%;
  }
  
  .openbtn:hover {
    background-color:rgb(17, 17, 17);
    transform: scale(1.1) perspective(5px) ;

  }

  .panelContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  
  /* loader */
  .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 1s ease-in-out;
  top:5px;
  left:3px;
  position:absolute;
  border-radius: 1px;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s  ease-in;
  border-radius: 1px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

form{
    width: 90%;
    max-width: 600px;
    color:white;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

.input-group{
    margin-bottom: 30px ;
    position: relative;
}
    
input, textarea{
    width: 100%;
    padding:10px;
    outline: 0;
    border:2.5px solid white;
    color:white;
    background: transparent;
    font-size: 14px;
    border-radius: 4px;
    font-family: 'Space Grotesk', sans-serif;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding:10px;
    color:white;
    cursor: text;
    transition: 0.2s;
    font-family: 'Space Grotesk', sans-serif;

}

.submit{
    padding: 10px;
    color: white;
    outline: none;
    background: transparent;
    border:2.5px solid white;
    width: 40%;
    cursor:pointer;
    font-size: 14px;
    border-radius: 4px;
    font-family: 'Space Grotesk', sans-serif;
    
}
.submit:hover{
    
    border:5px solid white;
    
    
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -34px;
    font-size: 13px;
    font-family: 'Space Grotesk', sans-serif;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row .input-group{
    flex-basis: 47% ;
}

/*12/6/2022*/


p:hover .extra {
  display: block;
  color: #f1f1f1;
  position:absolute;
  background-color: white;
}

.sidepanel p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  .sidepanel p:hover{
    color: #b1afaf;
  }
  /*12/6/2022*/


  .extra { 
    display: none;
    font-size: 76%;
  }
